<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlbumNames</key>
	<array>
		<string>Cozies Genuineness</string>
		<string>Barbarous Rooster</string>
		<string>Cornmeal Limelight</string>
		<string>Detrimental Comet</string>
		<string>Tawdriest Extinguishing</string>
		<string>Extremer Bait</string>
		<string>Tinged Locale</string>
		<string>Weeping Tether</string>
		<string>Bullying Bile</string>
		<string>Squalling gist</string>
		<string>Braided Nutrition</string>
	</array>
	<key>ArtistNames</key>
	<array>
		<string>Keven Keeler</string>
		<string>Antonio Agostini</string>
		<string>Troy Trogdon</string>
		<string>Hong Holsinger</string>
		<string>Melodi Moultry</string>
		<string>Lynn Livengood</string>
		<string>Mireya Mcnab</string>
		<string>Hildred Hanchett</string>
		<string>Carlie Calnan</string>
		<string>Rubie Rispoli</string>
		<string>Sharita Selle</string>
		<string>Edwina Eichenlaub</string>
		<string>Mandie Madeiros</string>
		<string>Otto Olmos</string>
		<string>Giovanni Goffney</string>
		<string>Shea Sasse</string>
		<string>Manuel Maust</string>
		<string>Roger Rohrer</string>
		<string>Merle Mastro</string>
		<string>Santana Stack</string>
	</array>
	<key>TrackNames</key>
	<array>
		<string>hazing pestered keener</string>
		<string>burp lupine syllabi</string>
		<string>transcend unaccepted corps</string>
		<string>immobilizing acrimonious importation</string>
		<string>refuting valved frontal</string>
		<string>relegating breezier caste</string>
		<string>ambition precautionary earthworm</string>
		<string>frock littler chronology</string>
		<string>misusing grazed validation</string>
		<string>bandy handier daffodil</string>
		<string>swabbing wilted dung</string>
		<string>resurface expectant thawing</string>
		<string>enamelling irrevocable razing</string>
		<string>spade unsettled coronation</string>
		<string>feted legion maternity</string>
		<string>pinion transitive invertebrate</string>
	</array>
</dict>
</plist>
